.mat-toolbar .mat-checkbox {
    font-size:12px;
    color:orange;
    margin: 0 10px;

    background-color : transparent;
    padding: inherit;
    color: inherit;
    box-shadow: inherit; 
  }

  .title-center {
    flex: 1 1 auto;
    text-align: center;
  }